<div class="firstscreen gredient d-flex justify-content-center">
    <div class="d-flex justify-content-between width90 align-items-center flex-wrap pt-5 ">
        <div class="leftpart">
            <div class="catchphrase">
                <h1>
                    You’re in good hands
                </h1>
            </div>
            <div class="tagline">
                Do not let your continued success become a burden to your customer’s health.
            </div>
            <div class="Buttons">
                <div class="button1 mt-3 ">
                    <a class="linkbutton" routerLink="services">Book Now</a>
                </div>
                <div class="button1 mt-3 ">
                    <a class="linkbutton" routerLink="services">Chat With Us</a>
                </div>
            </div>
            
        </div>
        <div class="rightpart">
            <img src="../../../assets/images/3698381.png" class="rightimage" alt="">
        </div>
    </div>
</div>
